<% if Playing.first
    provide(:vote_list, "#{CatalogueController.make_list}")
    provide(:now_playing, "#{Playing.first.artist} : #{Playing.first.title}" )
    provide(:countdown, "#{Playing.first.length}")
  else
    provide(:now_playing, "Nothing is playing yet" )
    provide(:countdown, 0)
  end
%>

<article>
  <div class="playing row">
    <span id="length-field"></span>
    <p>Now Playing: </p> 
    <div class="now-playing" id="song-title">
      <%= yield(:now_playing) %> 
    </div>
    <div class="now-playing" id="countdown">
      <%= yield(:countdown) %>
    </div>
  </div>
</article>
<%= raw "#{CatalogueController.make_list}" %>
