<article>
  <header>
    <h1 class="list-page-h1">DJam</h1>
    <h2 class="list-page-h2">Playlist Name Goes Here!</h2>
  </header>

<%thisCC = CatalogueController.new
  this_html = thisCC.generate_html_list %>
  <%= raw this_html %>
</article>
