<%thisCC = CatalogueController.new
this_html = thisCC.generate_html_list %>
<%provide(:now_playing, thisCC.playing_now)%>
<article>
  <header>
    <h1 class="list-page-h1">DJam</h1>
    <h2 class="list-page-h2">Playlist Name Goes Here!</h2>
  </header>

  <div class="row"><%= yield(:now_playing) %> </div>
  <%= raw this_html %>
</article>
