<img src="assets/djam.jpg">
<div class="row">
  <div class="vote-cell choice" id="guest">Event Guest</div>
  <div class="vote-cell choice" id="host">Event Host</div>
</div>
<div class="reveal" id="guest-text">
  <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
  <div class="row">
    <textarea placeholder="Enter a Playlist ID" cols="20" rows="2"></textarea>
    <div class="vote-cell opts playlist">Submit</div>
  </div>
</div>
<div class="reveal" id="host-text">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  </div>
  <section>
    <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
    <div class="row">
      <textarea placeholder="Enter a Playlist ID" cols="20" rows="2"></textarea>
      <div class="vote-cell opts playlist">Submit</div>
    </div>
  </section>
</div>
