<img src="assets/djam.jpg">
<div class="row">
  <div class="vote-cell btn choice" id="guest">Guest</div>
  <div class="vote-cell btn choice" id="host">Host</div>
</div><br>
<div class="reveal" id="guest-text">
  <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
  <div class="row">
    <textarea placeholder="Enter a Playlist ID" cols="20" rows="2"></textarea>
    <a href="/makelist"><div class="vote-cell btn opts playlist" id="guest">Submit</div></a>
  </div>
</div>
<div class="reveal" id="host-text">

  <section>
    <div class="row">
      <p>To create and administer a playlist, you will need to login using your Facebook credentials.</p>
    </div>
    <div class="row">
      <form method="post" action="/session">
        <input type="text" name="email" value="Email">
        <input type="password" name="password" value="Password">
        <input type="submit" value="Sign In"></input>
      </form>
    </div>
    
    <br><br>

  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>


  <div id="status">
  </div>
  <section>
    <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
    <div class="row">
      <textarea placeholder="Enter a Playlist ID" cols="20" rows="2"></textarea>
      <a href="/makelist"><div class="vote-cell btn opts playlist" id="host">Submit</div></a>
    </div>
  </section>
</div>
