<img src="assets/djam.jpg">
<div class="row">
  <div class="vote-cell choice" id="guest">Guest</div>
  <div class="vote-cell choice" id="host">Host</div>
</div><br>
<div class="reveal" id="guest-text">
  <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
      <form id='playlist-search'>
        <input type='text' id="search-id" placeholder='Enter Playlist ID'>
        <input type='submit' value='Search' >
      </form>
</div>
<div class="reveal" id="host-text">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  </div>
  <div id="playlists-button">
  </div><br>
  <div class="row">
    <section>
      <p>Enter a DJam Playlist Identifier to add to a playlist, or to vote for songs in an existing list</p>
      <div class="row">
        <textarea placeholder="Enter a Playlist ID" cols="20" rows="2"></textarea>
        <a href="/makelist"><div class="vote-cell opts playlist" id="host">Submit</div></a>
      </div>
    </section>
  </div>
</div>
