/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#wrapper {
  background: -webkit-linear-gradient(left, #010101, #000410 ,#000209); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #010101, #000410, #000209); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #010101, #000410, #000209); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #010101, #000410 ,#000209); /* Standard syntax */
  margin: 0 auto;
  max-width: 600px;
  padding: 0 5% 5% 5%;
}

a {
  text-decoration: none;
}

body {
  background: -webkit-linear-gradient(left, #010101, #000410 ,#000209); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #010101, #000410, #000209); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #010101, #000410, #000209); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #010101, #000410 ,#000209); /* Standard syntax */
  color: #DDD;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}


/***************************************************
Heading
***************************************************/
header {
  background: linear-gradient(#0A0A0A, transparent 10%),
              linear-gradient(0deg, #0A0A0A, transparent),
              url('discoballbackground.png') no-repeat center;
  background-size: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 2%;
  text-align: center;
}

h1, .list-page-h2 {
  color: #EEE;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2% 0 2% 5%;
  text-align: left;
  text-shadow:  1px 1px 1px #000, 2px 3px 10px #AAA;
}

h2, .list-page-h1 {
  font-size: .75rem;
  letter-spacing: 0.5rem;
  margin: 2% 0 0 5%;
  text-align: left;
  text-shadow:  1px 1px 1px #000, 2px 3px 20px #AAA;
}

form {
  text-align: center;
  color: #FFF;
  font-size: .7rem;
  padding: 0 2%;
}


/***************************************************
Voting Page
***************************************************/
.row {
  background: rgba(255,255,255,0.01);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.vote-cell {
  background-color: rgba(25,25,60, 0.1);
  color: #69f;
  border-left: 1em;
  border-radius: 2em;
  vertical-align: middle;
}

.prime {
  display: inline-block;
  border-radius: 0.6em 0 0 0.6em;
}

.vote-btn {
  cursor: pointer;
  background: url('upvote.jpg') no-repeat center;
  background-size: 50%;
  background-color: rgba(100,100,125, 0.2);
  border: 0.25em;
  border-style: ridge;
  border-color: rgba(200,200,255, 0.2);
  height: 0.8em;
  line-height: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 0;
  padding: 1em;
  text-align: center;
  width: 0.8em;
}


/***************************************************
Add song page
***************************************************/
.song-img, .add-song-button, .song-title {
}

li {
  list-style: none;
  margin: 5% 0;
}

.song-img {
  margin: 0 0 0 5%;
}

.add-song-button {
  margin: 0 50px
}


/*****************************************************************************************************
Responsive
*****************************************************************************************************/
@media screen and (min-width:400px) {
  h1, .list-page-h2 {
    font-size: 1.75rem;
  }

  h2, .list-page-h1 {
    font-size: 1rem;
    letter-spacing: 0.75rem;
  }

  .add-song-button {
    height: 20px;
    width: 40px;
    font-size: .8rem;
  }
}



@media screen and (min-width:500px) {
  h1, .list-page-h2 {
    font-size: 2rem;
  }

  h2, .list-page-h1 {
    font-size: 1.25rem;
  }

  form {
    font-size: 0.9rem;
  }
}



@media screen and (min-width:600px) {
  h1, .list-page-h2 {
    font-size: 2.5rem;
  }

  h2, .list-page-h1 {
    font-size: 1.5rem;
  }

  form {
    font-size: 1.1rem;
  }

  .add-song-button {
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    height: 22px;
    width: 43px;
    font-size: .9rem;
  }

/* Below is a work in progress to be refactored once other view sizes are finished*/

  .row {
    background: rgba(255,255,255,0.05);
    margin: 1em;
    padding: 0;
  }

  .vote-cell {
    float:left;
    background-color: rgba(25,25,60, 0.1);
    display:inline-block;
    padding:1em;
    color: #69F;
    border-left: 1em;
    height: 2.5em;
    min-width: 2em;
    border-radius: 2em;
    margin: 0.25em;
    text-align: center;
    vertical-align: middle;
  }

  .prime {
    display:inline-block;
    width: 65%;
    text-align: left;
    border-radius: 0.6em 0 0 0.6em;
  }

  .vote-btn {
    cursor: pointer;
    background-color: rgba(100,100,125, 0.2);
    line-height: 100%;
    padding-top: 1em;
    padding-bottom: 0;
    border: 0.25em;
    border-style: ridge;
    border-color: rgba(200,200,255, 0.2);
    text-align: center;
  }
}

