<h1><%= @host.name %>'s Playlists</h1>
<form method="post" action="/playlists">
  <input type="text" name="name" placeholder="Name your new playlist">
  <input type="submit" value="Create!">
</form>


