<article>
  <header>
    <div class="playlist-id" data="<%= @playlist.id %>"></div>
    <h1>Search</h1>
    <form id="search-song-form" action="/search/scrape">
      <label for="Enter_song_title">Enter song title</label>
      <input id="query" type="text" name="query">
      <input type="submit" value="Search!">
    </form>
    <a href="/makelist"><button>Go Vote!</button></a>
  </header>
</article>
